header{
    height: 100px;
    background-color: #009688;
}
main{
    height: calc(100vh - 100px);
    background-color: #D5DBD9;
}


#wrapped{
    height: calc(100% - 100px);
    border: 1px solid blue;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}
.col-4{
    border: 1px solid black;
    height: 100%;
}

.col-8{
    border: 1px solid red;
    height: 100%;
}